projects/sdl_macos/game_swarm.xcodeproj/xcuserdata/
projects/sdl_macos/game_swarm.xcodeproj/project.xcworkspace/
projects/sdl_ios/game_swarm.xcodeproj/xcuserdata/
projects/sdl_ios/game_swarm.xcodeproj/project.xcworkspace/xcuserdata/
projects/sdl_ios/game_swarm.xcodeproj/project.xcworkspace/
/projects/sdl_droid/app/build
/projects/sdl_droid/app/.externalNativeBuild
/projects/sdl_droid/.idea
/projects/sdl_droid/.gradle
