projects/sdl_macos/game_swarm.xcodeproj/xcuserdata/
projects/sdl_macos/game_swarm.xcodeproj/project.xcworkspace/
projects/sdl_ios/game_swarm.xcodeproj/xcuserdata/
projects/sdl_ios/game_swarm.xcodeproj/project.xcworkspace/xcuserdata/
projects/sdl_ios/game_swarm.xcodeproj/project.xcworkspace/
/projects/sdl_droid/app/build
/projects/sdl_droid/app/.externalNativeBuild
/projects/sdl_droid/.idea
/projects/sdl_droid/.gradle
/projects/sdl_droid/build
/projects/sdl_droid/app/obj
/projects/sdl_droid/app/libs
projects/pr_ios/game_swarm.xcodeproj/project.xcworkspace
projects/pr_macos/game_swarm.xcodeproj/xcuserdata/milgra.xcuserdatad
projects/pr_macos/game_swarm.xcodeproj/project.xcworkspace
/projects/pr_ios/game_swarm.xcodeproj/xcuserdata
/projects/pr_android/.gradle
/projects/pr_android/.idea
/projects/pr_android/app/.externalNativeBuild
/projects/pr_android/app/build
/projects/pr_android/pr_android.iml
